{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{%  block title %}{% endblock %}</title>
	<link type="text/css" href="{% static 'autoservice/scc/autoservice.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
<!-- блок mainmenu -->
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{%  url 'home' %}"><div class="logo"></div></a></li>
		<!--	<li><a href="{%  url 'about' %}">Контакты</a></li>
                <li class="last"><a href="{% url 'register' %}">Зарегистрироваться</a> | <a href="{%  url 'login' %}">Ворваться</a></li>
                <li class="last"><a href="{%  url 'add_page' %}">Добавить статью</a></li>
                <li class="last"><a href="{% url 'gallery' %}">Галерея</a></li>
			<li class="last"><a href="{%  url 'home' %}">Главная</a></li> -->
			</ul>
			<div class="clear"></div>
		</div>
<!-- конец mainmenu -->


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
    <!-- здесь категории -->
    {% if cat_selected == 0 %}
        <li class="selected">Все категории</li> <!-- если селект==0 то кнопка не активна-->
    {% else %}
        <li><a href="{% url 'home' %}">Все категории</a></li><!-- если селект не 0. то кнопка активна -->
    {% endif %}
    <!-- здесь перебираем все категории -->
    {% for c in cats %}
         {% if c.pk == cat_selected %}
             <li class="selected">{{c.name}}</li>
         {% else %}
             <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
         {% endif %}
    {% endfor %}
		<!--<li><a href="#">Бороды</a></li>
		<li><a href="#">Усы</a></li>
		<li><a href="#">Шевелюры</a></li> -->
		<li class="share">
		<p>Знакомство с нами</p>
		<a class="share-yt" href="#" target="_blank" rel="nofollow"></a> <!--Ссылка на ролик -->
		</li>
	</ul>
</td>
<!-- Конец Sidebar -->
<td valign="top" class="content">

<!-- главный блок -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- конец блока  -->

</td></tr></table>
</td></tr>
<!-- подвал -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Hа Коваленко Александра Васильевича ссылаться строго запрещено! Он ни при чем.</p>
	</div>
</td></tr></table>
<!-- Конец подвала -->
